// ComandaControl Stylesheets
= stylesheet_link_tag 'keppler_comanda_control/application', media: 'all', 'data-turbolinks-track': true
// ComandaControl Javascripts
= javascript_include_tag 'keppler_comanda_control/application', 'data-turbolinks-track': true