<keppler-view id='index'>
<div class="zppl-login">
  <div class="zppl-container">
    <h1 class="zppl-login-title">Zeppelin</h1>
    <keppler-no-edit>
    	<%= devise_login %>
    </keppler-no-edit>
  </div>
</div>
</keppler-view>
